<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>Identifier</title>

        <link href="login/css/login-box.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <form name="login" action="verificar.php" method="post">


            <div style="padding: 100px 0 0 0;" align="center">


                <div id="login-box">

                    <h2>Entrar al sistema</h2>
                    Ingrese su nombre de usuario y caontraseña doña July
                    <br />
                    <br />
                    <div id="login-box-name" style="margin-top:20px;">Usuario :</div><div id="login-box-field" style="margin-top:20px;"><input name="usuario" class="form-login" title="Utilisateur" value="" size="30" maxlength="2048" /></div>
                    <div id="login-box-name">Contraseña :</div><div id="login-box-field"><input name="password" type="password" class="form-login" title="mot de passe" value="" size="30" maxlength="2048" /></div>
                    <br />
                    <br />
                    <br />
                    <a href="..."><input type="image" src="login/img/login-btn.png" value="Entrar" style="margin-left:0px;" /></a>
                </div>

            </div>

        </form>

    </body>
</html>